.about-serial{
	z-index: 0;
	width: 100%;
	margin-top: calc(100vw * -0.042);
	margin-bottom: calc(100vw * 0.042);
	padding-top: calc(100vw * 0.042);
	padding-bottom: var(--sm-tile-height);

	&:before{
		content: '';
		z-index: 1;
		width: 100%;
		height: calc(100vw * 0.042);
		position: absolute;
		top: 0;
		left: 0;
		background: linear-gradient(to bottom, #141414, transparent);
	}

	&__bg{
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		overflow: hidden;
		opacity: .2;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}
	& .container{
		height: 100%;	
	}
	&__top-wrap{
		width: 100%;
		display: flex;
		justify-content: space-between;
		margin-bottom: calc(50vw * 0.042);
		padding-left: 30px;
	}
	&__info-wrap{
		height: calc((100vw / 1.7) / 2.09);
		display: flex;
		flex-direction: column;
		// justify-content: space-between;

		@include breakpoint(xl){
			height: auto;
			transform: scale(var(--about-serial-left-wrap-scale));
			transform-origin: top left;
		}
	}
	&__right-wrap{
		display: flex;
		flex-direction: column;
	}
	&__title{
		width: auto;
		height: 500px;
		max-height: 70px;
		flex-shrink: 0;
		margin-bottom: 5px;
		background-size: contain;
		background-repeat: no-repeat;
		@include breakpoint(md){
			max-height: 70px;
		}
		@include breakpoint(lg){
			max-height: 110px;
		}
	}
	&__title-text{
		font-family: $bebas;
		font-size: 20px;
		line-height: 23px;
		color: #FFFFFF;
		opacity: 0.5;
		text-transform: uppercase;
		margin-bottom: 12px;
		@include breakpoint(md){
			font-size: 27px;
			line-height: 32px;
		}
		@include breakpoint(lg){
			font-size: 40px;
			line-height: 47px;
		}
	}
	&__text{
		width: 350px;
		overflow: hidden;
		font-family: $stem;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		line-height: 15px;
		color: #FFFFFF;
		margin-bottom: 10px;
		@include breakpoint(md){
			width: 470px;
			font-size: 17px;
			line-height: 22px;
			margin-bottom: 15px;
		}
		@include breakpoint(lg){
			width: 744px;
			font-size: 25px;
			line-height: 32px;
		}
	}
	&__genre{
		margin-bottom: 10px;
		font-family: $stem;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		line-height: 15px;
		color: #FFFFFF;
		opacity: 0.5;
		@include breakpoint(md){
			margin-bottom: 20px;
			font-size: 17px;
			line-height: 22px;
		}
		@include breakpoint(lg){
			font-size: 25px;
			line-height: 32px;
			margin-bottom: 35px;
		}
	}
	&__meta-info{
		margin-bottom: 15px;
		margin-top: auto;
		@include breakpoint(md){
			margin-bottom: 20px;
		}
		@include breakpoint(lg){
			margin-bottom: 62px;
		}
	}
	&__button-watch{
		width: auto;
		height: 42px;
		display: flex;
		flex-shrink: 0;
		align-items: center;
		align-self: flex-start;
		justify-content: center;
		padding: 0 18px;
		background-color: #30C1D2;
		clip-path: polygon(calc(0% + 8px) 0%, 100% 0%, calc(100% - 8px) 100%, 0% 100%);
		font-family: $bebas;
		font-weight: bold;
		font-size: 20px;
		line-height: 23px;
		color: #FFFFFF;
		text-decoration: none;
		transition: all ease .3s;
		@include breakpoint(md){
			height: 52px;
			padding: 0 24px;
			clip-path: polygon(calc(0% + 10px) 0%, 100% 0%, calc(100% - 10px) 100%, 0% 100%);
			font-size: 25px;
			line-height: 29px;
		}
		@include breakpoint(lg){
			height: 78px;
			padding: 0 30px;
			clip-path: polygon(calc(0% + 15px) 0%, 100% 0%, calc(100% - 15px) 100%, 0% 100%);
			font-size: 40px;
			line-height: 47px;
		}

		&:hover,
		&:active,
		&:focus{
			background-color: rgba(48,193,210,.6);
		}

		& div{
			height: 1.05em;
		}
	}
	&__button-watch-icon{
		width: 20px;
		height: 20px;
		margin-right: 9px;
		@include breakpoint(md){
			width: 32px;
			height: 32px;
		}
		@include breakpoint(lg){
			width: 48px;
			height: 48px;
			margin-right: 13px;
		}
	}
	&__navigation{
		display: flex;
	}
	&__navigation-item{
		font-family: $bebas;
		cursor: pointer;
		font-weight: bold;
		font-size: 12px;
		line-height: 14px;
		color: #FFFFFF;
		opacity: 0.4;
		border-bottom: 1px solid transparent;
		transition: all ease .3s;
		@include breakpoint(md){
			font-size: 20px;
			line-height: 23px;
		}
		@include breakpoint(lg){
			font-size: 24px;
			line-height: 28px;
		}
		@include breakpoint(xl){
			font-size: 44px;
		}

		&:not(:last-child){
			margin-right: 15px;
			@include breakpoint(md){
				margin-right: 28px;
			}
			@include breakpoint(lg){
				margin-right: 30px;
			}
		}

		&:hover,
		&:active,
		&:focus{
			opacity: 1;
		}

		&.active{
			opacity: 1;
			text-decoration: underline;
		}
	}
	&__trailer,
	&__text-about,
	&__actors-creators{
		width: calc(100vw / 1.7);
		height: calc((100vw / 1.7) / 2.09);
		margin-bottom: calc(15vw * 0.042);
	}
	&__text-about,
	&__actors-creators{
		padding-right: 30px;
	}
	&__trailer{
		display: block;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}
	&__trailer-icons{
		position: absolute;
		bottom: 20px;
		right: 25px;
		display: flex;
		padding: 15px;
		background: radial-gradient(closest-side, rgba(0,0,0,.5), transparent);
	}
	&__trailer-icon{
		cursor: pointer;
		width: 32px;
		height: 32px;
		@include breakpoint(lg){
			width: 48px;
			height: 48px;
		}

		&:not(:last-child){
			margin-right: 30px;
			@include breakpoint(lg){
				margin-right: 45px;
			}
		}

		& img{
			width: 100%;
			height: 100%;
		}
	}
	&__text-about{
		display: none;
	}
	&__actors-creators{
		display: none;
	}
	&__video-list{
		width: 100%;
		position: absolute;
		bottom: calc(100vw * -0.05);
		left: 0;
	}
}