.tiles-wrap{
	& .slick-arrow{
		z-index: 100;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		cursor: pointer;
		width: 28px;
		height: 50px;
		background: none;
		border: none;
		color: transparent;
		outline: none;
	}
	& .slick-prev{
		left: 25px;
		background-image: url("../img/prev-arrow.svg");
	}
	& .slick-next{
		right: 25px;
		background-image: url("../img/next-arrow.svg");
	}
	& .slick-disabled{
		display: none !important;
	}
	& .slick-list{
		overflow: visible;
	}
	& .slick-track{
		overflow: visible;
	}
	& .slick-slide{
		width: 330px;
		height: 184px;
		padding-bottom: 10px;
		top: 0;
		clip-path: polygon(calc(0% + 33px) 0%, 100% 0%, calc(100% - 33px) 100%, 0% 100%);
		// transition: width 1s ease .1s, height 1s ease .1s, top 1s ease .1s, clip-path 1s ease .1s, margin 1s ease .1s;
		transition: all ease .1s;

		&:not(:last-child){
			margin-right: -30px;
		}
		&:first-child{
			clip-path: polygon(0% 0%, 100% 0%, calc(100% - 33px) 100%, 0% 100%);
		}
		&:last-child{	
			clip-path: polygon(calc(0% + 33px) 0%, 100% 0%, 100% 100%, 0% 100%);
		}

		&:hover,
		&:active,
		&:focus{
			transform: scale(1.7);
			z-index: 100;
			clip-path: polygon(calc(0% + 32px) 0%, 100% 0%, calc(100% - 32px) 100%, 0% 100%);
			transition: all ease .3s;

			&:not(:first-child){
				margin-left: -14px;
			}
			&:not(:last-child){
				margin-right: -43px;
			}
			&:first-child{
				clip-path: polygon(0% 0%, 100% 0%, calc(100% - 32px) 100%, 0% 100%);
				transform: scale(1.7) translateX(60px);
			}
			&:last-child{	
				clip-path: polygon(calc(0% + 32px) 0%, 100% 0%, 100% 100%, 0% 100%);
			}
		}

		&>div{
			height: 100%;
		}
	}
	&>.tile{
		width: 330px;
		height: 184px;
		padding-bottom: 10px;
		top: 0;
		clip-path: polygon(calc(0% + 33px) 0%, 100% 0%, calc(100% - 33px) 100%, 0% 100%);
		// transition: width 1s ease .1s, height 1s ease .1s, top 1s ease .1s, clip-path 1s ease .1s, margin 1s ease .1s;
		transition: all ease .1s;

		&:not(:last-child){
			margin-right: -30px;
		}
		&:first-child{
			clip-path: polygon(0% 0%, 100% 0%, calc(100% - 33px) 100%, 0% 100%);
		}
		&:last-child{	
			clip-path: polygon(calc(0% + 33px) 0%, 100% 0%, 100% 100%, 0% 100%);
		}

		&:hover,
		&:active,
		&:focus{
			transform: scale(1.7);
			z-index: 100;
			clip-path: polygon(calc(0% + 32px) 0%, 100% 0%, calc(100% - 32px) 100%, 0% 100%);
			transition: all ease .3s;

			&:not(:first-child){
				margin-left: -14px;
			}
			&:not(:last-child){
				margin-right: -43px;
			}
			&:first-child{
				clip-path: polygon(0% 0%, 100% 0%, calc(100% - 32px) 100%, 0% 100%);
				transform: scale(1.7) translateX(60px);
			}
			&:last-child{	
				clip-path: polygon(calc(0% + 32px) 0%, 100% 0%, 100% 100%, 0% 100%);
			}
		}
	}
}