.video-list{

	&__title{
		display: flex;
		margin-top: 0 !important;
	}
	&__tiles-wrap{
		display: flex;
	}
	&__season-navigation{
		margin-left: 25px;
	}
	&__season-navitaion-item{
		cursor: pointer;
		background: none;
		border: none;
		outline: none;
		padding: 0 8px;
		font-family: $stem;
		font-size: 14px;
		line-height: 18px;
		color: rgba(255,255,255,.5);
		border-bottom: 3px solid transparent;
		transition: all ease .3s;
		@include breakpoint(md){
			font-size: 20px;
			line-height: 26px;
			padding: 0 10px;
		}
		@include breakpoint(lg){
			font-size: 30px;
			line-height: 39px;
			padding: 0 15px;
		}

		&:hover,
		&:active,
		&:focus{
			color: #fff;
		}

		&.active{
			color: #fff;
			border-bottom: 3px solid white;
		}
	}
	&__season-wrap{
		display: flex !important;

		&.hide{
			opacity: 0;
			position: absolute;
		}
	}
}