<div class="video-list">
	<div class="video-list container tiles-list">
		<h3 class="video-list tiles-list__title">
			Сезон
		</h3>
		<div class="video-list__tiles-wrap tiles-list__slider">
			<div class="swiper-wrapper tiles-list__sm-tiles">
				{# TILE #}
				{% for item in 0..8 %}
				{% include 'blocks/common.blocks/tiles/tile-episode/tile-episode.twig' with {'tileSize':'tile__sm', 'sliderClass':'swiper-slide', 'dataProgress':'data-progress="20"'}%}
				{% endfor %}
			</div>
			<div class="slider-button-prev"><img src="img/prev-arrow.svg"></div>
			<div class="slider-button-next"><img src="img/next-arrow.svg"></div>
		</div>
	</div>
</div>