/* base */
@import "compass/reset";
@import "compass/css3";

// FONTS
$bebas: 'Bebas Neue';
$stem: 'Stem';

body{
	--collection-tile-width: 0;
	--collection-tile-height: 0;
	--collection-angle-offset: 0;
	--collection-margin-right: 0;
	--collection-angle-hover-offset: 0;
	--collection-hover-offset: 0;

	background-color: #141414;

	&.light{
		background-color: #fff;
	}
}
div{
	position: relative;
}
.container-fluid{
	overflow: hidden;
}
.light-page{

	& .header,
	& .footer{
		filter: invert(1);
	}
	& .footer__stores-icon{
		filter: invert(1);
	}
}