<!DOCTYPE html>
{% block head %}


{% endblock %}
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ShowJet</title>
    <!-- SWIPER SLIDER STYLEs -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

    <link href="https://vjs.zencdn.net/7.8.4/video-js.css" rel="stylesheet" />
    <script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    {% block content %}

    {% endblock %}

    <script src="https://vjs.zencdn.net/7.8.4/video.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

    <!-- SWIPER-SLIDER SCRIPTS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src='js/main.js'></script>
</body>
</html>