{% extends 'blocks/base.blocks/base/base.twig' %}

{% block content %}
<div class="container-fluid">
	<div class="row">

		{# HEADER #}
		{% include 'blocks/common.blocks/header/header.twig'%}


		{# FOOTER #}
		{% include 'blocks/common.blocks/footer/footer.twig'%}
	</div>
</div> 
{% endblock %}