<div class="filter">
	<select name="{{name}}">
		<option>Жанр</option>
		<option value="all">Все</option>
		<option value="thriller">Триллер</option>
		<option value="comedy">Комедия</option>
		<option value="adventure">Приключения</option>
		<option value="war">Военный</option>
	</select>
</div>