.collection-tile{
	flex: 0 0 var(--collection-tile-width);
	height: var(--collection-tile-height);
	background-size: cover;
	background-position: center;
	clip-path: polygon(calc(0% + var(--collection-angle-offset)) 0%, 100% 0%, calc(100% - var(--collection-angle-offset)) 100%, 0% 100%);
	transition: all ease .1s;

	&:not(:last-child){
		margin-right: var(--collection-margin-right);
	}
	&:first-child{
		clip-path: polygon(0% 0%, 100% 0%, calc(100% - var(--collection-angle-offset)) 100%, 0% 100%);

		& .collection-tile__text-wrap{
			left: 10px;
			@include breakpoint(md){
				left: 20px;
			}
		}
	}
	&:last-child{	
		clip-path: polygon(calc(0% + var(--collection-angle-offset)) 0%, 100% 0%, 100% 100%, 0% 100%);
	}

	&:hover,
	&:active,
	&:focus{
		transform: scale(1.4);
		z-index: 100;
		// clip-path: polygon(calc(0% + var(--collection-angle-hover-offset)) 0%, 100% 0%, calc(100% - var(--collection-angle-hover-offset)) 100%, 0% 100%);
		transition: all ease .3s;

		&:first-child{
			// clip-path: polygon(0% 0%, 100% 0%, calc(100% - var(--collection-angle-hover-offset)) 100%, 0% 100%);
			transform: scale(1.4) translateX(var(--collection-hover-offset));
		}
		&:last-child{	
			// clip-path: polygon(calc(0% + var(--collection-angle-hover-offset)) 0%, 100% 0%, 100% 100%, 0% 100%);
			// transform: scale(1.4) translateX(var(--collection-hover-offset));
			transform: scale(1.4) translateX(calc(var(--collection-hover-offset) * -1));
		}

		& .collection-tile__subtitle{
			display: block;
		}
	}
	&__text-wrap{
		position: absolute;
		bottom: 20px;
		left: 20px;
		@include breakpoint(md){
			left: 51px;
		}
	}
	&__title{
		font-family: $bebas;
		font-weight: bold;
		font-size: 23px;
		line-height: 27px;
		color: #FFFFFF;
		text-shadow: 0 0 20px rgba(0,0,0,1);
		@include breakpoint(lg){
			font-size: 35px;
			line-height: 41px;
		}
	}
	&__subtitle{
		display: none;
		font-family: $stem;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 18px;
		color: #FFFFFF;
		text-shadow: 0 0 4px rgba(0,0,0,1);
		@include breakpoint(md){
			font-size: 16px;
			line-height: 23px;
		}
	}
}