<div class="collection-tile" style="background-image: url(img/collection-tile-bg.jpg)">
	<a href="collection-item-page.html" class="link">
		<span class="collection-tile__text-wrap">
			<div class="collection-tile__title">
				Вся королевская рать
			</div>
			<div class="collection-tile__subtitle">
				Сериалы с лучшими поцелуями
			</div>
		</span>
	</a> 
</div>