<div class="tile tile-episode {{sliderClass}}" {{dataProgress}}>
	<div class="tile__bg">
		<img src="img/tile-bg.png" alt="" class="tile__bg-img">
	</div>
	<div class="tile-episode__episode-number">
		Серия 1
	</div>
	<div class="tile-episode__episode-name">
		Ужин в саду
	</div>
	<div class="tile__progress">
		<div class="tile__progress-bar"></div>
	</div>
</div>