<div class="tile tile__sm tile-episode {{sliderClass}}" {{dataProgress}}>
	<div class="tile__inner">
		<div class="tile__bg">
			<img src="img/tile-bg.png" alt="" class="tile__bg-img">
		</div>
		<div class="tile-episode__episode-number">
			Серия 1
		</div>
		<div class="tile-episode__episode-name">
			Ужин в саду
		</div>
	</div>
	<div class="tile__progress">
		<div class="tile__progress-bar"></div>
	</div>
</div>