.tile-episode{

	&:first-child{

		& .tile-episode__episode-number,
		& .tile-episode__episode-name{
			left: calc(var(--sm-angle-offset) / 2);
		}

	}

	&__episode-number,
	&__episode-name{
		position: absolute;
		left: 45px;
		z-index: 2;
		font-family: $stem;
		font-style: normal;
		font-weight: bold;
		font-size: 14px;
		line-height: 18px;
		color: #FFFFFF;
		text-shadow: 0px 0px 6px rgba(0, 0, 0, 1);
		@include breakpoint(lg){
			font-size: 20px;
			line-height: 26px;
		}
	}
	&__episode-number{
		top: 8px;
		left: calc(var(--sm-angle-offset) * 1.7);
	}
	&__episode-name{
		bottom: 8px;
		left: calc(var(--sm-angle-offset) * 1.7);
	}
}