<div class="actors-creators">
	<div class="actors-creators__wrap">
		<div class="actors-creators__title">
			В ролях
		</div>
		<div class="actors-creators__items-wrap">
			{% for item in 0..8 %}
			<div class="actors-creators__item">
				Аннабель Уоллис
				<span class="actors-creators__item-role">
					Алфи Соломонс
				</span>
			</div>
			{% endfor %}
		</div>
	</div>
	<div class="actors-creators__wrap">
		<div class="actors-creators__title">
			Режиссеры
		</div>
		<div class="actors-creators__items-wrap">
			{% for item in 0..2 %}
			<div class="actors-creators__item">
				Аннабель Уоллис
			</div>
			{% endfor %}
		</div>
	</div>
	<div class="actors-creators__wrap">
		<div class="actors-creators__title">
			Продюссеры
		</div>
		<div class="actors-creators__items-wrap">
			{% for item in 0..2 %}
			<div class="actors-creators__item">
				Аннабель Уоллис
			</div>
			{% endfor %}
		</div>
	</div>
	<div class="actors-creators__person">
		<div class="actors-creators__person-back-button">
			<svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M21.3914 42L4.00006 22L21.3914 2" stroke="white" stroke-width="5"/>
				<line x1="4" y1="22.5" x2="44" y2="22.5" stroke="white" stroke-width="5"/>
			</svg>
			Назад
		</div>
		<div class="actors-creators__person-wrap">
			<div class="actors-creators__person-img">
				<img src="img/person.jpg" alt="">
			</div>
			<div class="actors-creators__person-text-wrap">
				<div class="actors-creators__person-title">
					Том Харди
				</div>
				<div class="actors-creators__person-subtitle">
					Tom Hardi
				</div>
				<div class="actors-creators__person-info">
					Английский актёр, продюсер и сценарист. Обладатель премии BAFTA и номинант на премию «Оскар». Прославился благодаря фильму «Стюарт: Прошлая жизнь», где он сыграл роль наркомана и бездомного Стюарта Шортера, принёсшую ему номинацию на премию BAFTA. 
				</div>
			</div>
		</div>
	</div>
</div>