<div class="recommended-serials container home-page-tiles-list">
	<h3 class="recommended-serials__title home-page-tiles-list__title">
		Рекомендуемые сериалы
	</h3>
	<div class="recommended-serials__tiles-wrap home-page-tiles-list__tiles-wrap tiles-wrap">
		{# TILE #}
		{% include 'blocks/common.blocks/tile/tile.twig' with {'className':'innerInfo', 'url':'https://strm-msknrd.showjet.ru/rc-01/noenc/hd_audio/afd9dd9f-bb23-4ffd-8823-94528b4866c1.ism/.m3u8', 'videoID':'video1' }%}
		{% include 'blocks/common.blocks/tile/tile.twig' with {'className':'innerInfo', 'url':'https://strm-msknrd.showjet.ru/rc-01/noenc/hd_audio/fe2d3192-55ef-498c-9335-8adb11bbf0bc.ism/.m3u8', 'videoID':'video2'  }%}
		{% include 'blocks/common.blocks/tile/tile.twig' with {'className':'innerInfo', 'url':'https://strm-msknrd.showjet.ru/rc-01/noenc/hd_audio/afd9dd9f-bb23-4ffd-8823-94528b4866c1.ism/.m3u8', 'videoID':'video3' }%}
		{% include 'blocks/common.blocks/tile/tile.twig' with {'className':'innerInfo', 'url':'https://strm-msknrd.showjet.ru/rc-01/noenc/hd_audio/fe2d3192-55ef-498c-9335-8adb11bbf0bc.ism/.m3u8', 'videoID':'video4'  }%}
		{% include 'blocks/common.blocks/tile/tile.twig' with {'className':'innerInfo', 'url':'https://strm-msknrd.showjet.ru/rc-01/noenc/hd_audio/afd9dd9f-bb23-4ffd-8823-94528b4866c1.ism/.m3u8', 'videoID':'video5' }%}
		{% include 'blocks/common.blocks/tile/tile.twig' with {'className':'innerInfo', 'url':'https://strm-msknrd.showjet.ru/rc-01/noenc/hd_audio/fe2d3192-55ef-498c-9335-8adb11bbf0bc.ism/.m3u8', 'videoID':'video6'  }%}
		{% include 'blocks/common.blocks/tile/tile.twig' with {'className':'innerInfo', 'url':'https://strm-msknrd.showjet.ru/rc-01/noenc/hd_audio/afd9dd9f-bb23-4ffd-8823-94528b4866c1.ism/.m3u8', 'videoID':'video7' }%}
		{% include 'blocks/common.blocks/tile/tile.twig' with {'className':'innerInfo', 'url':'https://strm-msknrd.showjet.ru/rc-01/noenc/hd_audio/fe2d3192-55ef-498c-9335-8adb11bbf0bc.ism/.m3u8', 'videoID':'video8'  }%}
	</div>
</div>