<div class="home-page-banner">
	<div class="home-page-banner__tiles-cover"></div>
	<!-- <img src="img/home-page-banner.jpg" alt="" class="home-page-banner__image"> -->
	<video id="bannerVideo" class="video-js" fluid="true" loop autoplay preload="auto" muted="mute" width="100%" height="100%" poster="img/home-page-banner.jpg" data-setup="{}" >
		<source src="https://d2zihajmogu5jn.cloudfront.net/bipbop-advanced/bipbop_16x9_variant.m3u8" type="application/x-mpegURL" />
	</video>
	<div class="home-page-banner__description">
		<div class="home-page-banner__title">
			<img src="img/home-page-banner-title.png" alt="" class="home-page-banner__title-img">
		</div>
		<div class="home-page-banner__text">
			Продолжение скандального сериала "Молодой Папа" с Джудом Лоу и Джоном Малковичем.
		</div>
		<div class="home-page-banner__genre">
			Драма
		</div>
		<div class="home-page-banner__buttons">
			<a href="#" class="home-page-banner__button home-page-banner__button-watch">
				<img src="img/play-icon.svg" alt="" class="home-page-banner__button-icon">
				Смотреть сериал
			</a>
			<a href="#" class="home-page-banner__button home-page-banner__button-about">О сериале</a>
		</div>
	</div>
	<div class="home-page-banner__meta-info">
		<div class="home-page-banner__meta-info-item home-page-banner__meta-info-item_kinopoisk">
			<img src="img/kinopoisk-icon.svg" alt="" class="home-page-banner__meta-info-item-icon home-page-banner__meta-info-item-icon_kinopoisk">
			8,8
		</div>
		<div class="home-page-banner__meta-info-item home-page-banner__meta-info-item_imdb">
			<img src="img/imdb-icon.svg" alt="" class="home-page-banner__meta-info-item-icon home-page-banner__meta-info-item-icon_imdb">
			8,5
		</div>
		<div class="home-page-banner__meta-info-item">
			1080p<br/>fullhd
		</div>
		<div class="home-page-banner__meta-info-item">
			5,1<br/>audio
		</div>
		<div class="home-page-banner__meta-info-item home-page-banner__meta-info-item_18">
			18+
		</div>
		<div class="home-page-banner__meta-info-item_sound-button">
			<div class="home-page-banner__sound-button">
				<img class="home-page-banner__sound-button-img home-page-banner__sound-button-img_on" src="img/sound-on-icon.svg" alt="">
				<img class="home-page-banner__sound-button-img home-page-banner__sound-button-img_off" src="img/sound-off-icon.svg" alt="">
			</div>
		</div>
	</div>
</div>