<div class="home-page-banner">
	<img src="img/home-page-banner.jpg" alt="" class="home-page-banner__image">
	<div class="home-page-banner__description">
		<div class="home-page-banner__title">
			<img src="img/home-page-banner-title.png" alt="" class="home-page-banner__title-img">
		</div>
		<div class="home-page-banner__text">
			Продолжение скандального сериала "Молодой Папа" с Джудом Лоу и Джоном Малковичем.
		</div>
		<div class="home-page-banner__genre">
			Драма
		</div>
		<div class="home-page-banner__buttons">
			<a href="#" class="home-page-banner__button home-page-banner__button-watch">
				<img src="img/play-icon.svg" alt="" class="home-page-banner__button-icon">
				Смотреть сериал
			</a>
			<a href="#" class="home-page-banner__button home-page-banner__button-about">О сериале</a>
		</div>
	</div>
	<div class="home-page-banner__meta-info">
		<div class="home-page-banner__meta-info-item home-page-banner__meta-info-item_kinopoisk">
			<img src="img/kinopoisk-icon.svg" alt="" class="home-page-banner__meta-info-item-icon">
			8,8
		</div>
		<div class="home-page-banner__meta-info-item home-page-banner__meta-info-item_imdb">
			<img src="img/imdb-icon.svg" alt="" class="home-page-banner__meta-info-item-icon">
			8,5
		</div>
		<div class="home-page-banner__meta-info-item">
			1080p<br/>fullhd
		</div>
		<div class="home-page-banner__meta-info-item">
			5,1<br/>audio
		</div>
		<div class="home-page-banner__meta-info-item home-page-banner__meta-info-item_18">
			18+
		</div>
		<div class="home-page-banner__meta-info-item home-page-banner__meta-info-item_sound">
			<img src="img/sound-off-icon.svg" alt="" class="home-page-banner__meta-info-item-icon">
		</div>
	</div>
</div>