<div class="meta-info">
	<div class="meta-info__left-wrap">
		<div class="meta-info__item meta-info__item_18">
			<img src="img/18-icon.svg" alt="">
		</div>
		<div class="meta-info__item">
			<img src="img/kinopoisk-icon.svg" alt="" class="meta-info__item-icon meta-info__item-icon_kinopoisk">
			8,8
		</div>
		<div class="meta-info__item">
			<img src="img/imdb-icon.svg" alt="" class="meta-info__item-icon meta-info__item-icon_imdb">
			8,5
		</div>
	</div>
	<div class="meta-info__right-wrap">
		<div class="meta-info__item">
			<img src="img/heart-icon.svg" alt="" class="meta-info__item-icon meta-info__item-icon_like">
		</div>
		<div class="meta-info__item meta-info__item_share">
			<img src="img/share-icon.svg" alt="" class="meta-info__item-icon meta-info__item-icon_share">
			<div class="meta-info__share">
				<a href="#" class="meta-info__share-item">
					<img src="img/vk-icon.svg" alt="">
				</a>
				<a href="#" class="meta-info__share-item">
					<img src="img/od-icon.svg" alt="">
				</a>
				<a href="#" class="meta-info__share-item">
					<img src="img/fb-icon.svg" alt="">
				</a>
				<a href="#" class="meta-info__share-item">
					<img src="img/twitter-icon.svg" alt="">
				</a>
			</div>
		</div>
	</div>
</div>