<div class="meta-info">
	<div class="meta-info__left-wrap">
		<div class="meta-info__item meta-info__item_18">
			<div>18+</div>
		</div>
		<div class="meta-info__item">
			<img src="img/kinopoisk-icon.svg" alt="" class="meta-info__item-icon meta-info__item-icon_kinopoisk">
			8,8
		</div>
		<div class="meta-info__item">
			<img src="img/imdb-icon.svg" alt="" class="meta-info__item-icon meta-info__item-icon_imdb">
			8,5
		</div>
	</div>
	<div class="meta-info__right-wrap">
		<div class="meta-info__item">
			<img src="img/heart-icon.svg" alt="" class="meta-info__item-icon meta-info__item-icon_like">
		</div>
		<div class="meta-info__item">
			<img src="img/share-icon.svg" alt="" class="meta-info__item-icon meta-info__item-icon_share">
		</div>
	</div>
</div>