<div class="tile {{className}}" {{dataProgress}} data-videourl="{{url}}">
	<div class="tile__bg">
		<img src="img/tile-bg.png" alt="" class="tile__bg-img">
	</div>
	<video id="{{videoID}}" class="tile__video video-js" preload="auto" muted="mute" width="100%" height="100%" poster="img/home-page-banner.jpg" data-setup="{}" >
		<source src="https://strm-msknrd.showjet.ru/rc-01/noenc/hd_audio/afd9dd9f-bb23-4ffd-8823-94528b4866c1.ism/.m3u8" type="application/x-mpegURL" />
	</video>

	<div class="tile__video-list-title">
		Серия 1
	</div>
	<div class="tile__video-list-episode">
		Ужин в саду
	</div>
	<div class="tile__progress">
		<div class="tile__progress-bar"></div>
	</div>
	<div class="tile__top-wrap">
		<div class="tile__top-wrap-item">
			<img src="img/play-icon.svg" alt="" class="tile__top-wrap-item-icon">
		</div>
		<div class="tile__top-wrap-item">
			<img src="img/info-icon.svg" alt="" class="tile__top-wrap-item-icon">
		</div>
		<div class="tile__top-wrap-item tile__top-wrap-item_like">
			<img src="img/heart-icon.svg" alt="" class="tile__top-wrap-item-icon">
		</div>
	</div>
	<div class="tile__bottom-wrap">
		<div class="tile__title">
			Новый папа
		</div>
		<div class="tile__meta-info">
			<div class="tile__meta-info-item tile__meta-info-item_18">
				18+
			</div>
			<div class="tile__meta-info-item">
				<img src="img/kinopoisk-icon.svg" alt="" class="tile__meta-info-item-icon">
				8,8
			</div>
			<div class="tile__meta-info-item">
				<img src="img/imdb-icon.svg" alt="" class="tile__meta-info-item-icon">
				8,5
			</div>
		</div>
		<div class="tile__text">
			<div class="tile__text-item">lavish</div>
			<div class="tile__text-item">Exiting</div>
			<div class="tile__text-item">Fantasy tv</div>
		</div>
	</div>
	<div class="tile__sound-button">
		<img class="tile__sound-button-img tile__sound-button-img_on" src="img/sound-on-icon.svg" alt="">
		<img class="tile__sound-button-img tile__sound-button-img_off" src="img/sound-off-icon.svg" alt="">
	</div>
</div>