{% extends 'blocks/base.blocks/base/base.twig' %}

{% block content %}
<div class="container-fluid">
	<div class="row">

		{# HEADER #}
		{% include 'blocks/common.blocks/header/header.twig' with {'headerSearchPage':'header-search-page'} %}
		
		<div class="container">
			<div class="search-page__fixed-wrap">
				<h1 class="search-page__title">
					Поиск
				</h1>
				<input type="text" class="search-page__search-input" value="">
			</div>
			<div class="search-page__search-result">
				<div class="tiles-list__title">
					К сожалению мы ничего не нашли, возможно Вас заинтересует:
				</div>
				<div class="tiles-list__slider search-page__slider">
					<div class="swiper-wrapper tiles-list__sm-tiles">
						{% for item in 0..12 %}
						{% include 'blocks/common.blocks/tiles/tile/tile.twig' with {'tileSize':'tile__sm', 'sliderClass':'swiper-slide', 'infoClass':'tile-info', 'url':'https://d2zihajmogu5jn.cloudfront.net/bipbop-advanced/bipbop_16x9_variant.m3u8', 'videoID':'searchVideo'~item }%}

						{% endfor %}
					</div>
					<div class="slider-button-prev"><img src="img/prev-arrow.svg"></div>
					<div class="slider-button-next"><img src="img/next-arrow.svg"></div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="search-page__often-search">
				<div class="search-page__often-search-title tiles-list__title">
					Часто ищут
				</div>
				<div class="search-page__often-search-items-wrap">
					<a href="#" class="search-page__often-search-item">Новый папа</a>
					<a href="#" class="search-page__often-search-item">Сын</a>
					<a href="#" class="search-page__often-search-item">Под прикрытием</a>
					<a href="#" class="search-page__often-search-item">Порох</a>
					<a href="#" class="search-page__often-search-item">Хокинг</a>
					<a href="#" class="search-page__often-search-item">Подводная лодка</a>
					<a href="#" class="search-page__often-search-item">Склонность</a>
					<a href="#" class="search-page__often-search-item">И никого не стало</a>
					<a href="#" class="search-page__often-search-item">Острые козырьки</a>
					<a href="#" class="search-page__often-search-item">Шестой отряд</a>
				</div>
			</div>
		</div>

		{# FOOTER #}
		{% include 'blocks/common.blocks/footer/footer.twig'%}

	</div>
</div> 
{% endblock %}
