.collection-tile {
  flex: 0 0 var(--collection-tile-width);
  height: var(--collection-tile-height);
  background-size: cover;
  background-position: center;
  clip-path: polygon(
    calc(0% + var(--collection-angle-offset)) 0%,
    100% 0%,
    calc(100% - var(--collection-angle-offset)) 100%,
    0% 100%
  );
  top: 0;
  transition: all ease 0.2s;

  &:not(:last-child) {
    margin-right: var(--collection-margin-right);
  }
  &:first-child {
    clip-path: polygon(
      0% 0%,
      100% 0%,
      calc(100% - var(--collection-angle-offset)) 100%,
      0% 100%
    );

    & .collection-tile__text-wrap {
      left: 10px;
      @include breakpoint(md) {
        left: 20px;
      }
    }
  }
  &:last-child {
    clip-path: polygon(
      calc(0% + var(--collection-angle-offset)) 0%,
      100% 0%,
      100% 100%,
      0% 100%
    );
  }

  &:hover,
  &:active,
  &:focus {
    z-index: 1010;
    flex: 0 0 var(--collection-tile-hover-width);
    height: var(--collection-tile-hover-height);
    top: var(--collection-tile-hover-top-offset);
    clip-path: polygon(
      calc(0% + var(--collection-tile-hover-angle-offset)) 0%,
      100% 0%,
      calc(100% - var(--collection-tile-hover-angle-offset)) 100%,
      0% 100%
    );
    transition: all ease 0.5s;
    transition-delay: 0.5s;

    &:first-child {
      clip-path: polygon(
        0% 0%,
        100% 0%,
        calc(100% - var(--collection-tile-hover-angle-offset)) 100%,
        0% 100%
      );
    }
    &:last-child {
      clip-path: polygon(
        calc(0% + var(--collection-tile-hover-angle-offset)) 0%,
        100% 0%,
        100% 100%,
        0% 100%
      );
    }

    & .collection-tile__subtitle {
      top: 0;
      transition: all ease 0.5s;
      transition-delay: 0.5s;
    }
  }

  &__text-wrap {
    position: absolute;
    bottom: 20px;
    left: 20px;
    @include breakpoint(md) {
      left: 51px;
    }
  }
  &__title {
    font-family: $bebas;
    font-weight: bold;
    font-size: 23px;
    line-height: 27px;
    color: #ffffff;
    text-shadow: 0 0 20px rgba(0, 0, 0, 1);
    @include breakpoint(lg) {
      font-size: 35px;
      line-height: 41px;
    }
  }
  &__subtitle {
    display: block;
    top: 100px;
    font-family: $stem;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    text-shadow: 0 0 4px rgba(0, 0, 0, 1);
    transition: all ease 0.2s;
    @include breakpoint(md) {
      font-size: 16px;
      line-height: 23px;
    }
  }
}
