.tile__xl{
	flex: 0 0 var(--xl-tile-width);
	height: var(--xl-tile-height);
	clip-path: polygon(calc(0% + var(--xl-angle-offset)) 0%, 100% 0%, calc(100% - var(--xl-angle-offset)) 100%, 0% 100%);

	&:not(:last-child){
		margin-right: var(--xl-margin-right);
	}
	&:first-child{
		clip-path: polygon(0% 0%, 100% 0%, calc(100% - var(--xl-angle-offset)) 100%, 0% 100%);
	}
	&:last-child{	
		clip-path: polygon(calc(0% + var(--xl-angle-offset)) 0%, 100% 0%, 100% 100%, 0% 100%);
		left: 0;
	}	

	&.tile-info:hover,
	&.tile-info:active,
	&.tile-info:focus{
		z-index: 100;
		flex: 0 0 var(--xl-tile-hover-width);
		height: var(--xl-tile-hover-height);
		top: var(--xl-tile-hover-top-offset);
		clip-path: polygon(calc(0% + var(--xl-hover-angle-offset)) 0%, 100% 0%, calc(100% - var(--xl-hover-angle-offset)) 100%, 0% 100%);
		transition: all ease .5s;
		transition-delay: .5s;
		
		&:first-child{
			clip-path: polygon(0% 0%, 100% 0%, calc(100% - var(--xl-hover-angle-offset)) 100%, 0% 100%);
		}
		&:last-child{	
			clip-path: polygon(calc(0% + var(--xl-hover-angle-offset)) 0%, 100% 0%, 100% 100%, 0% 100%);
			left: var(--xl-tile-last-hover-offset);
		}
	}
}