<div class="add-device">
  <div class="add-device__title">Добавить устройство</div>
  <div class="add-device__icon">
    <img src="img/plus-icon.svg" alt="" class="add-device__icon-img" />
  </div>
</div>
