.tiles-list{
	padding: 0 0 0 30px;

	&__title{
		font-family: $stem;
		font-size: 16px;
		line-height: 21px;
		font-weight: normal;
		color: rgba(255,255,255,.5);
		margin-top: calc(30vw * -0.042);
		margin-bottom: 10px;
		z-index: 0;

		@include breakpoint(md){
			font-size: 20px;
			line-height: 26px;
		}
		@include breakpoint(lg){
			font-size: 30px;
			line-height: 39px;
		}
	}
	&__sm-tiles,
	&__md-tiles,
	&__lg-tiles,
	&__xl-tiles{
		width: 100%;
		display: flex;
		margin-bottom: calc(100vw * 0.042);
		margin-left: 0;
		transition: all ease .2s;
	}
	&__sm-tiles{
		height: var(--sm-tile-height);

		&.hovered-child{
			margin-left: calc((var(--sm-tile-hover-width) - var(--sm-tile-width)) / -2);
			transition: all ease .5s;
		}
		&.hovered-last-child{
			margin-left: calc((var(--sm-tile-hover-width) - var(--sm-tile-width)) / -1);
			transition: all ease .5s;
		}
	}
	&__md-tiles{
		height: var(--md-tile-height);

		&.hovered-child{
			margin-left: calc((var(--md-tile-hover-width) - var(--md-tile-width)) / -2);
			transition: all ease .5s;
		}
		&.hovered-last-child{
			margin-left: calc((var(--md-tile-hover-width) - var(--md-tile-width)) / -1);
			transition: all ease .5s;
		}
	}
	&__lg-tiles{
		height: var(--lg-tile-height);

		&.hovered-child{
			margin-left: calc((var(--lg-tile-hover-width) - var(--lg-tile-width)) / -2);
			transition: all ease .5s;
		}
		&.hovered-last-child{
			margin-left: calc((var(--lg-tile-hover-width) - var(--lg-tile-width)) / -1);
			transition: all ease .5s;
		}
	}
	&__xl-tiles{
		height: var(--xl-tile-height);

		&.hovered-child{
			margin-left: calc((var(--xl-tile-hover-width) - var(--xl-tile-width)) / -2);
			transition: all ease .5s;
		}
		&.hovered-last-child{
			margin-left: calc((var(--xl-tile-hover-width) - var(--xl-tile-width)) / -1);
			transition: all ease .5s;
		}
	}
}


.tiles-list__slider{
	display: flex;

	& .swiper-wrapper{
		height: 134px;
		margin-left: 0;
		transition: all ease .3s;
		@include breakpoint(md){
			height: 140px;
		}
		@include breakpoint(lg){
			height: 184px;
		}
	}
	& .slider-button-prev,
	& .slider-button-next{
		z-index: 100;
		width: 130px;
		height: 100%;
		display: flex;
		justify-content: center;
		position: absolute;
		top: 0;
		cursor: pointer;
		background: none;
		border: none;
		color: transparent;
		outline: none;
	}
	& .slider-button-prev{
		left: calc(-100vw + 100%);
		background: linear-gradient(to right, #141414, transparent);
	}
	& .slider-button-next{
		right: 0;
		background: linear-gradient(to left, #141414, transparent);
	}
	& .swiper-button-disabled{
		display: none !important;
	}
}
