.tiles-list{
	padding: 0 0 0 30px;

	&__title{
		font-family: $stem;
		font-size: 16px;
		line-height: 21px;
		font-weight: normal;
		color: rgba(255,255,255,.5);
		margin-bottom: 10px;
		z-index: 0;

		@include breakpoint(md){
			font-size: 20px;
			line-height: 26px;
		}
		@include breakpoint(lg){
			font-size: 30px;
			line-height: 39px;
		}
	}
	&__two-tiles{
		width: 100%;
		display: flex;
	}
	&__three-tiles{
		width: 100%;
		display: flex;
	}
	&__four-tiles{
		width: 100%;
		display: flex;
	}
	&__six-tiles{
		width: 100%;
		height: 184px;
		display: flex;
	}
}


.tiles-list__slider{
	display: flex;

	& .swiper-wrapper{
		height: 184px;
	}
	& .slider-button-prev,
	& .slider-button-next{
		z-index: 100;
		position: absolute;
		top: 70px;
		cursor: pointer;
		width: 28px;
		height: 50px;
		background: none;
		border: none;
		color: transparent;
		outline: none;
	}
	& .slider-button-prev{
		left: 25px;
	}
	& .slider-button-next{
		right: 25px;
	}
	& .swiper-button-disabled{
		display: none !important;
	}
}
