<div class="news-tile">
	<a href="article-page.html" class="link">
		<div class="news-tile__img" style="background-image: url(img/news-tile.jpg);">
		</div>
		<div class="news-tile__info-wrap">
			<div class="news-tile__data">
				3 мая 2020
			</div>
			<div class="news-tile__title">
				Объявлен Актерский состав новой подростковой комедии от NETFLIX
			</div>
			<div class="news-tile__text">
				Американский актёр и певец кубинского происхождения Жанкарлос Канела («Теленовелла») сыграет одну из главных ролей в новом сериале от Netflix «Расширяющаяся вселенная Эшли Гарсии» (The Expanding Universe of Ashley Garcia). Компанию Канеле составит юная актриса Паулина Чавес.
			</div>
		</div>
	</a>
</div>