<div class="news-tile-video">
	<div class="news-tile-video__left-wrap" style="background-image: url(img/tile-bg.jpg);"> 
		<div class="news-tile-video__sound-off-button">
			<img src="img/sound-off-icon.svg" alt="" class="news-tile-video__sound-off-button-icon">
		</div>
		<div class="news-tile-video__meta-info-wrap">
			<div class="news-tile-video__meta-info-item news-tile-video__meta-info-item_18">
				18+
			</div>
		</div>
		<div class="news-tile-video__description">
			<div class="news-tile-video__description-genre">
				Драма
			</div>
			<div class="news-tile-video__description-title">
				Подводная лодка
			</div>
			<a href="#" class="link news-tile-video__description-button">
				<img src="img/play-icon.svg" alt="" class="news-tile-video__description-button-icon">
				Смотреть сериал
			</a>
		</div>
	</div>
	<div class="news-tile-video__info-wrap">
		<div class="news-tile-video__info-data">
			3 мая 2020
		</div>
		<div class="news-tile-video__info-title">
			Новый папа
		</div>
		<div class="news-tile-video__info-text">
			Англия — это не только родина Шерлока. Это страна с богатой историей, изучение которой растянется на долгие годы. Но как не запутаться…
			и узнать только самое интересное? 
		</div>
		<a href="#" class="news-tile-video__info-button">
			Читать далее
		</a>
	</div>
</div> 