{% extends 'blocks/base.blocks/base/base.twig' %} 

{% block content %}
<div class="container-fluid">
  <div class="row">
    {# HEADER #}
    {% include 'blocks/common.blocks/header/header.twig'%}
    <!-- DELETE POPUP -->
    {% include 'blocks/common.blocks/profile-blocks/delete-popup/delete-popup.twig' with {'title':'Удалить вашу историю просмотра?', 'class':'delete-popup-history'} %}
    {% include 'blocks/common.blocks/profile-blocks/delete-popup/delete-popup.twig' with {'title':'Удалить всё из вашего списка «Моё»?', 'class':'delete-popup-mine'} %}
    {% include 'blocks/common.blocks/profile-blocks/trouble-popup/trouble-popup.twig' %}
    <!-- END DELETE POPUP -->
    <div class="profile-page__wrap container">
      <div class="profile-page__settings row">
        <div class="col-6">
          <div class="profile-page__title">Настройки профиля</div>
          <div class="profile-page__input-wrap">
            <label class="profile-page__label" for="name">Имя</label>
            <input class="profile-page__input" type="text" id="name" />
          </div>
          <div class="profile-page__input-wrap">
            <label class="profile-page__label" for="email">Email</label>
            <input class="profile-page__input" type="email" id="email" />
          </div>
          <div class="profile-page__input-wrap">
            <label class="profile-page__label" for="old-pass"
            >Старый пароль</label
            >
            <input class="profile-page__input" type="password" id="old-pass" />
          </div>
          <div class="profile-page__input-wrap">
            <label class="profile-page__label" for="new-pass"
            >Новый пароль</label
            >
            <input class="profile-page__input" type="password" id="new-pass" />
          </div>
          <div class="profile-page__input-wrap">
            <label class="profile-page__label" for="repeat-pass"
            >Повтор пароля</label
            >
            <input
            class="profile-page__input"
            type="password"
            id="repeat-pass"
            />
          </div>
          <div class="profile-page__checkbox-wrap">
            <input
            id="autoplay"
            class="profile-page__checkbox"
            type="checkbox"
            />
            <label class="profile-page__checkbox-label" for="autoplay"
            >Автовоспроизведение трейлеров</label
            >
          </div>
        </div>
        <div class="col-6">
          <div class="profile-page__title">Список устройств</div>
          <div class="profile-page__text">
            Вы можете использовать свой аккаунт на 5-ти устройствах. Если
            солкнулись с этим ограничением при входе в ShowJet, деактивируйте
            одно из устройств:
          </div>
          <div class="profile-page__devices">
            {% include 'blocks/common.blocks/profile-blocks/device/device.twig' with {'active': 'active'} %} 
            {% include 'blocks/common.blocks/profile-blocks/device/device.twig'%}
            {% include 'blocks/common.blocks/profile-blocks/device/device.twig'%}
            {% include 'blocks/common.blocks/profile-blocks/device/device.twig'%}
          </div>
          <div class="profile-page__add-device">
            {% include 'blocks/common.blocks/profile-blocks/add-device/add-device.twig'%}
          </div>
          <div class="profile-page__access-code">
            {% include 'blocks/common.blocks/profile-blocks/access-code/access-code.twig'%}
          </div>
        </div>
      </div>
      <div class="profile-page__buttons">
        <a href="#" class="profile-page__button profile-page__button-save">
          Сохранить изменения
        </a>
        <a href="#" class="profile-page__button profile-page__button-exit">
          Выйти из профиля
        </a>
      </div>
      <div class="profile-page__settings-buttons">
        <div class="profile-page__setting-button-item profile-page__setting-button-item_history">
          <img src="img/minus-icon.svg" alt="" />
          Очистить историю просмотра
        </div>
        <div class="profile-page__setting-button-item profile-page__setting-button-item_mine">
          <img src="img/minus-icon.svg" alt="" />
          Очистить раздел «Моё»
        </div>
        <div class="profile-page__setting-button-item profile-page__setting-button-item_stat">
          <img src="img/stats-icon.svg" alt="" />
          Статистика просмотров
        </div>
        <div class="profile-page__setting-button-item profile-page__setting-button-item_trouble">
          <img src="img/warning-icon.svg" alt="" />
          Что-то не работает?
        </div>
        <div class="profile-page__support">
          Служба поддержки
          <a href="email:support@showjet.ru">support@showjet.ru</a>
        </div>
      </div>
    </div>
    <div class="profile-page__stat container">
      {% include 'blocks/common.blocks/profile-blocks/stat/stat.twig'%}
    </div>

    {% include 'blocks/common.blocks/footer/footer.twig'%}
  </div>
</div>
{% endblock %}
