.profile-page {
  &__wrap {
    width: 988px;
    margin-bottom: 100px;
    @include breakpoint(xl) {
      transform: scale(2);
      transform-origin: center top;
      margin-bottom: 800px;
    }
  }
  &__stat {
    width: 988px;
    position: absolute;
    opacity: 0;
    z-index: -100;
    @include breakpoint(xl) {
      transform: scale(1.5);
      transform-origin: center top;
      margin-bottom: 600px;
    }

    &.open {
      position: relative;
      opacity: 1;
      z-index: auto;
    }
  }
  &__popups {
    width: 100%;
    height: 100%;
  }
  &__settings {
    padding-bottom: 44px;
    border-bottom: 1px solid #fff;
    margin: 40px 0;
  }
  &__title {
    font-family: $bebas;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    color: #ffffff;
    margin-bottom: 24px;
  }
  &__input-wrap {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  &__label {
    width: 124px;
    font-family: $stem;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
  }
  &__input {
    width: 300px;
    height: 36px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 4px;
    padding: 0 14px;
    font-family: $stem;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;

    &[type="password"] {
      font-size: 50px;
    }
  }
  &__checkbox-wrap {
    margin-top: 30px;
  }
  &__checkbox {
    opacity: 0;
    position: absolute;
  }
  &__checkbox-label {
    cursor: pointer;
    font-family: $stem;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: #ffffff;
    padding-left: 29px;

    &:before {
      content: "";
      width: 20px;
      height: 20px;
      position: absolute;
      top: 0;
      left: 0;
      background-color: transparent;
      border: 2px solid #ffffff;
      border-radius: 4px;
      transition: all ease 0.3s;
    }

    &:hover,
    &:active,
    &:focus {
      &:before {
        box-shadow: 0 0px 6px 3px rgba(255, 255, 255, 0.2),
          inset 0 0 6px 7px rgba(255, 255, 255, 0.2);
      }
    }
  }
  &__checkbox:checked + .profile-page__checkbox-label:before {
    background-color: #30c1d2;
    background-image: url("../img/ok-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
  &__text {
    font-family: $stem;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 20px;
  }
  &__buttons {
    display: flex;
    margin-bottom: 60px;
  }
  &__devices {
    margin-bottom: 15px;
    border-bottom: 1px solid #fff;
  }
  &__button {
    width: auto;
    height: 44px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.5);
    clip-path: polygon(
      calc(0% + 8px) 0%,
      100% 0%,
      calc(100% - 8px) 100%,
      0% 100%
    );
    font-family: $bebas;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #ffffff;
    text-decoration: none;
    transition: all ease 0.3s;
  }
  &__button-save {
    background-color: #30c1d2;

    &:hover,
    &:active,
    &:focus {
      background-color: rgba(48, 193, 210, 0.6);
    }
  }
  &__button-exit {
    &:hover,
    &:active,
    &:focus {
      background-color: rgba(255, 255, 255, 0.65);
    }
  }
  &__support {
    display: flex;
    margin-left: auto;
    font-family: $stem;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: rgba(255, 255, 255, 0.5);

    & a {
      color: #fff;
      text-decoration: none;
      margin-left: 12px;

      &:hover,
      &:active,
      &:focus {
        text-decoration: underline;
      }
    }
  }
  &__settings-buttons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 44px;
    margin-bottom: 30px;
  }
  &__setting-button-item {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-family: $stem;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    margin-bottom: 20px;

    &:hover,
    &:active,
    &:focus {
      text-decoration: underline;
    }

    & img {
      margin-right: 10px;
    }
  }
}
