{% extends 'blocks/base.blocks/base/base.twig' %}

{% block content %}
<div class="container-fluid">
	<div class="row">

		{# HEADER #}
		{% include 'blocks/common.blocks/header/header.twig'%}
		
		<div class="container">
			<div class="serials-page__filters-wrap ">
				<div class="serials-page__filter-wrap">
					{% include 'blocks/common.blocks/filter/filter.twig'%}
				</div>
				<div class="serials-page__filter-wrap">
					{% include 'blocks/common.blocks/filter/filter.twig'%}
				</div>
				<div class="serials-page__filter-wrap">
					{% include 'blocks/common.blocks/filter/filter.twig'%}
				</div>
			</div>

			{# SERIALS PAGE SIX TILE WRAP #}
			<div class="serials-page__six-tiles tiles-list__six-tiles">
				{% for item in 0..5 %}
				{% include 'blocks/common.blocks/tiles/tile/tile.twig' with {'tileSize':'tile__sm', 'infoClass':'tile-info', 'url':'https://strm-msknrd.showjet.ru/rc-01/noenc/hd_audio/afd9dd9f-bb23-4ffd-8823-94528b4866c1.ism/.m3u8', 'videoID':'sixXideo1'~item }%}
				{% endfor %}
			</div>

			{# SERAILS PAGE THREE TILE WRAP #}
			<div class="serials-page__three-tiles tiles-list__three-tiles">
				{% for item in 0..2 %}
				{% include 'blocks/common.blocks/tiles/tile/tile.twig' with {'tileSize':'tile__lg', 'infoClass':'tile-info', 'url':'https://strm-msknrd.showjet.ru/rc-01/noenc/hd_audio/afd9dd9f-bb23-4ffd-8823-94528b4866c1.ism/.m3u8', 'videoID':'threeVideo1'~item }%}
				{% endfor %}
			</div>

			{# SERIALS PAGE SIX TILE WRAP #}
			<div class="serials-page__six-tiles tiles-list__six-tiles">
				{% for item in 0..5 %}
				{% include 'blocks/common.blocks/tiles/tile/tile.twig' with {'tileSize':'tile__sm', 'infoClass':'tile-info', 'url':'https://strm-msknrd.showjet.ru/rc-01/noenc/hd_audio/afd9dd9f-bb23-4ffd-8823-94528b4866c1.ism/.m3u8', 'videoID':'sixVideo2'~item }%}
				{% endfor %}
			</div>

			<!-- SERIALS PAGE ABOUT SERIAL -->
			<div class="serials-page__about-serial">
				<!-- ABOUT SERIAL -->
				{% include 'blocks/common.blocks/about-serial/about-serial.twig'%}
			</div>

			{# SERIALS PAGE TWO TILE WRAP #}
			<div class="serials-page__two-tiles tiles-list__two-tiles">
				{% for item in 0..1 %}
				{% include 'blocks/common.blocks/tiles/tile/tile.twig' with {'tileSize':'tile__xl', 'infoClass':'tile-info', 'url':'https://strm-msknrd.showjet.ru/rc-01/noenc/hd_audio/afd9dd9f-bb23-4ffd-8823-94528b4866c1.ism/.m3u8', 'videoID':'twoVideo1'~item }%}
				{% endfor %}
			</div>

			{# SERIALS PAGE FOUR TILE WRAP #}
			<div class="serials-page__four-tiles-wrap tiles-list__four-tiles">
				{% for item in 0..3 %}
				{% include 'blocks/common.blocks/tiles/tile/tile.twig' with {'tileSize':'tile__md', 'infoClass':'tile-info', 'url':'https://strm-msknrd.showjet.ru/rc-01/noenc/hd_audio/afd9dd9f-bb23-4ffd-8823-94528b4866c1.ism/.m3u8', 'videoID':'fourVideo1'~item }%}
				{% endfor %}
			</div>
		</div>

		{# FOOTER #}
		{% include 'blocks/common.blocks/footer/footer.twig'%}
	</div>
</div> 


{% endblock %}
