.serials-page{

	&__filters-wrap{
		display: flex;
		margin: 0 0 50px;
	}
	&__filter-wrap{
		margin-right: 20px;
	}
	&__two-tiles,
	&__three-tiles,
	&__four-tiles,
	&__six-tiles{
		margin-bottom: 40px;
		@include breakpoint(md){
			margin-bottom: 60px;
		}
		@include breakpoint(lg){
			margin-bottom: 80px;
		}
	}
	&__about-serial{
		width: 100%;
		margin-bottom: 80px;
	}
}