{% extends 'blocks/base.blocks/base/base.twig' %}
{% block content %}
<div class="container-fluid">
	<div class="row">
		{# HEADER #}
		{% include 'blocks/common.blocks/header/header.twig'%}
		
		<div class="container">
			<div class="serials-page__filters-wrap ">
				<div class="serials-page__filter-wrap">
					{% include 'blocks/common.blocks/filter/filter.twig'%}
				</div>
				<div class="serials-page__filter-wrap">
					{% include 'blocks/common.blocks/filter/filter.twig'%}
				</div>
				<div class="serials-page__filter-wrap">
					{% include 'blocks/common.blocks/filter/filter.twig'%}
				</div>
			</div>
		</div>
		<div class="container">
			{# SERIALS PAGE SIX TILE WRAP #}
			<div class="tiles-list__slider serials-page__slider">
				<div class="swiper-wrapper tiles-list__sm-tiles">
					{% for item in 0..5 %}
					{% include 'blocks/common.blocks/tiles/tile/tile.twig' with {'tileSize':'tile__sm', 'sliderClass':'swiper-slide', 'infoClass':'tile-info', 'dataProgress':'data-progress="20"', 'url':'https://d2zihajmogu5jn.cloudfront.net/bipbop-advanced/bipbop_16x9_variant.m3u8', 'videoID':'contVideo'~item }%}

					{% endfor %}
				</div>
				<div class="slider-button-prev"><img src="img/prev-arrow.svg"></div>
				<div class="slider-button-next"><img src="img/next-arrow.svg"></div>
			</div>
		</div>
		<div class="container">
			{# SERAILS PAGE THREE TILE WRAP #}
			<div class="tiles-list__lg-tiles">
				{% for item in 0..2 %}
				{% include 'blocks/common.blocks/tiles/tile/tile.twig' with {'tileSize':'tile__lg', 'infoClass':'tile-info', 'url':'https://d2zihajmogu5jn.cloudfront.net/bipbop-advanced/bipbop_16x9_variant.m3u8', 'videoID':'threeVideo1'~item }%}
				{% endfor %}
			</div>
		</div>
		<!-- SINGLE-SERIAL-TILE -->
		{% include 'blocks/common.blocks/tiles/single-serial-tile/single-serial-tile.twig'%}
		<div class="container">
			{# SERIALS PAGE SIX TILE WRAP #}
			<div class="tiles-list__sm-tiles">
				{% for item in 0..5 %}
				{% include 'blocks/common.blocks/tiles/tile/tile.twig' with {'tileSize':'tile__sm', 'infoClass':'tile-info', 'url':'https://d2zihajmogu5jn.cloudfront.net/bipbop-advanced/bipbop_16x9_variant.m3u8', 'videoID':'sixVideo2'~item }%}
				{% endfor %}
			</div>
		</div>
		<!-- ABOUT SERIAL -->
		{% include 'blocks/common.blocks/about-serial/about-serial.twig'%}
		<div class="container">
			{# SERIALS PAGE TWO TILE WRAP #}
			<div class="tiles-list__xl-tiles">
				{% for item in 0..1 %}
				{% include 'blocks/common.blocks/tiles/tile/tile.twig' with {'tileSize':'tile__xl', 'infoClass':'tile-info', 'url':'https://d2zihajmogu5jn.cloudfront.net/bipbop-advanced/bipbop_16x9_variant.m3u8', 'videoID':'twoVideo1'~item }%}
				{% endfor %}
			</div>
		</div>
		<div class="container">
			{# SERIALS PAGE FOUR TILE WRAP #}
			<div class="tiles-list__md-tiles">
				{% for item in 0..3 %}
				{% include 'blocks/common.blocks/tiles/tile/tile.twig' with {'tileSize':'tile__md', 'infoClass':'tile-info', 'url':'https://d2zihajmogu5jn.cloudfront.net/bipbop-advanced/bipbop_16x9_variant.m3u8', 'videoID':'fourVideo1'~item }%}
				{% endfor %}
			</div>
		</div>
		{# FOOTER #}
		{% include 'blocks/common.blocks/footer/footer.twig'%}
	</div>
</div> 
{% endblock %}
