{% extends 'blocks/base.blocks/base/base.twig' %}
{% block content %}
<div class="container-fluid">
	<div class="row">
		{# HEADER #}
		{% include 'blocks/common.blocks/header/header.twig'%}
		
		<div class="container">
			<div class="serials-page__filters-wrap ">
				<div class="serials-page__filter-wrap">
					{% include 'blocks/common.blocks/filter/filter.twig' with {'name':'name1'} %}
				</div>
				<div class="serials-page__filter-wrap">
					{% include 'blocks/common.blocks/filter/filter.twig' with {'name':'name2'} %}
				</div>
				<div class="serials-page__filter-wrap">
					{% include 'blocks/common.blocks/filter/filter.twig' with {'name':'name3'} %}
				</div>
			</div>
		</div>

		<div class="container">
			<select name="newFilter" class="new-filter"> 
				<option disabled selected>Жанр</option>
				<option value="all">Все</option>
				<option value="thriller">Триллер</option>
				<option value="comedy">Комедия</option>
				<option value="adventure">Приключения</option>
				<option value="war">Военный</option>
			</select>
		</div>

		{# FOOTER #}
		{% include 'blocks/common.blocks/footer/footer.twig'%}
	</div>
</div> 
{% endblock %}
