.test-page{

}
.testTile__wrap{
	width: 100%;
	display: flex;
	--tile-width: 333px;
	--tile-height: 184px;
	--angle-offset: 26px;
	--margin-right: -24px;
	--tile-hover-width: 548px;
	--tile-hover-height: 304px;
	--angle-hover-offset: 54px;
}
.testTile{
	flex: 0 0 var(--tile-width);
	height: var(--tile-height);
	clip-path: polygon(calc(0% + var(--angle-offset)) 0%, 100% 0%, calc(100% - var(--angle-offset)) 100%, 0% 100%);
	background-image: url("../img/tile-bg.png");
	background-size: cover;

	&:hover,
	&:active,
	&:focus{
		flex: 0 0 var(--tile-hover-width);
		height: var(--tile-hover-height);
		top: -50px;
		clip-path: polygon(calc(0% + var(--angle-hover-offset)) 0%, 100% 0%, calc(100% - var(--angle-hover-offset)) 100%, 0% 100%);
		transition: all ease .5s;

		&:first-child{
			clip-path: polygon(0% 0%, 100% 0%, calc(100% - var(--angle-hover-offset)) 100%, 0% 100%);
		}
		&:last-child{	
			clip-path: polygon(calc(0% + var(--angle-hover-offset)) 0%, 100% 0%, 100% 100%, 0% 100%);
		}
	}

	&:not(:last-child){
		margin-right: var(--margin-right);
	}
	&:first-child{
		clip-path: polygon(0% 0%, 100% 0%, calc(100% - var(--angle-offset)) 100%, 0% 100%);
	}
	&:last-child{	
		clip-path: polygon(calc(0% + var(--angle-offset)) 0%, 100% 0%, 100% 100%, 0% 100%);
	}
}