{% extends 'blocks/base.blocks/base/base.twig' %}

{% block content %}
<div class="container-fluid">
	<div class="row">
		{# HEADER #}
		{% include 'blocks/common.blocks/header/header.twig'%}

		<div class="container">
			<div class="tiles-list__sm-tiles">
				{% for item in 0..5 %}
				{% include 'blocks/common.blocks/tiles/tile/tile.twig' with {'tileSize':'tile__sm', 'infoClass':'tile-info', 'url':'https://d2zihajmogu5jn.cloudfront.net/bipbop-advanced/bipbop_16x9_variant.m3u8', 'videoID':'smVideo1'~item }%}
				{% endfor %}
			</div>
			
			<h3 class="tiles-list__title">
				Продолжить просмотр
			</h3>
			<div class="tiles-list__md-tiles">
				{% for item in 0..3 %}
				{% include 'blocks/common.blocks/tiles/tile/tile.twig' with {'tileSize':'tile__md', 'infoClass':'tile-info', 'url':'https://d2zihajmogu5jn.cloudfront.net/bipbop-advanced/bipbop_16x9_variant.m3u8', 'videoID':'mdVideo1'~item }%}
				{% endfor %}
			</div>
			<div class="tiles-list__lg-tiles">
				{% for item in 0..2 %}
				{% include 'blocks/common.blocks/tiles/tile/tile.twig' with {'tileSize':'tile__lg', 'infoClass':'tile-info', 'url':'https://d2zihajmogu5jn.cloudfront.net/bipbop-advanced/bipbop_16x9_variant.m3u8', 'videoID':'lgVideo1'~item }%}
				{% endfor %}
			</div>
			<div class="tiles-list__xl-tiles">
				{% for item in 0..1 %}
				{% include 'blocks/common.blocks/tiles/tile/tile.twig' with {'tileSize':'tile__xl', 'infoClass':'tile-info', 'url':'https://d2zihajmogu5jn.cloudfront.net/bipbop-advanced/bipbop_16x9_variant.m3u8', 'videoID':'xlVideo1'~item }%}
				{% endfor %}
			</div>
		</div>

		{# FOOTER #}
		{% include 'blocks/common.blocks/footer/footer.twig'%}
	</div>
</div> 
{% endblock %}

