{% extends 'blocks/base.blocks/base/base.twig' %}

{% block content %}
<div class="container-fluid">
	<div class="row">
		{# HEADER #}
		{% include 'blocks/common.blocks/header/header.twig'%}

		<div class="container">
			<div class="testTile__wrap">
				{% for item in 0..5 %}
					<div class="testTile">

					</div>
				{% endfor %}
			</div>
		</div>

		{# FOOTER #}
		{% include 'blocks/common.blocks/footer/footer.twig'%}
	</div>
</div> 
{% endblock %}

