<div class="stat">
	<div class="stat__top-wrap">
		<div class="stat__back-button">
			<svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M21.3914 42L4.00006 22L21.3914 2" stroke="white" stroke-width="5"/>
				<line x1="4" y1="22.5" x2="44" y2="22.5" stroke="white" stroke-width="5"/>
			</svg>
			Назад
		</div>
		<div class="stat__title">Статистика просмотров</div>
	</div>
	<div class="stat__wrap row">
		<div class="col-8">
			<!-- данные передвать чтобы сегоднящний день был последним -->
			<div class="stat__chart" data-chart="1, 0.5, 1.5, 2.5, 0.7, 1, 2">
				<div class="stat__chart-grid">
					<div class="stat__grid-max stat__grid-line"><span></span> ч</div>
					<div class="stat__grid-mid stat__grid-line"><span></span> ч</div>
					<div class="stat__grid-min stat__grid-line"><span>0</span> ч</div>
				</div>
			</div>
		</div>
		<div class="col-4">
			<div class="stat__list">
				<div class="stat__list-item">
					<div>Сегодня</div>
					<div>1ч 12мин</div>
				</div>
				<div class="stat__list-item">
					<div>За 7 дней</div>
					<div>4ч 34мин</div>
				</div>
				<div class="stat__list-item">
					<div>За 30 дней</div>
					<div>15ч 12мин</div>
				</div>
				<div class="stat__list-item">
					<div>За год</div>
					<div>126ч 42мин</div>
				</div>
				<div class="stat__list-item">
					<div>С даты регистрации</div>
					<div>135ч 12мин</div>
				</div>
				<div class="stat__list-item">
					<div>В среднем в день</div>
					<div>1ч 23мин</div>
				</div>
			</div>
		</div>
	</div>
	<a href="#" class="stat__delete-button"><div>Удалить статистику</div></a>
</div>