<div class="news-tile-big">
	<div class="news-tile-big__img" style="background-image: url(img/tile-bg.jpg);"></div>
	<div class="news-tile-big__info-wrap">
		<div class="news-tile-big__data">
			3 мая 2020
		</div>
		<div class="news-tile-big__title">
			Новый папа
		</div>
		<div class="news-tile-big__text">
			Англия — это не только родина Шерлока. Это страна с богатой историей, изучение которой растянется на долгие годы. Но как не запутаться…
			и узнать только самое интересное? 
		</div>
		<a href="#" class="news-tile-big__button">
			Читать далее
		</a>
	</div>
</div> 