<div class="watching-now container tiles-list">
	<h3 class="watching-now__title tiles-list__title">
		{{title}}
	</h3>
	<div class="watching-now__tiles-wrap tiles-list__tiles-wrap tiles-wrap">
		{% for item in 0..5 %}
		{# TILE #}
		{% include 'blocks/common.blocks/tile/tile.twig' with {'className':'innerInfo'} %}
		{% endfor %}
	</div>
</div>