<div class="continue-watching container home-page-tiles-list">
	<h3 class="continue-watching__title home-page-tiles-list__title">
		Продолжить просмотр
	</h3>
	<div class="continue-watching__tiles-wrap home-page-tiles-list__tiles-wrap tiles-wrap">
		{# TILE #}
		{% include 'blocks/common.blocks/tile/tile.twig' with {'dataProgress':'data-progress="20"', 'className':'innerInfo', 'url':'https://strm-msknrd.showjet.ru/rc-01/noenc/hd_audio/afd9dd9f-bb23-4ffd-8823-94528b4866c1.ism/.m3u8', 'videoID':'video9' }%}
		{% include 'blocks/common.blocks/tile/tile.twig' with {'dataProgress':'data-progress="40"', 'className':'innerInfo', 'url':'https://strm-msknrd.showjet.ru/rc-01/noenc/hd_audio/fe2d3192-55ef-498c-9335-8adb11bbf0bc.ism/.m3u8', 'videoID':'video10'  }%}
		{% include 'blocks/common.blocks/tile/tile.twig' with {'dataProgress':'data-progress="60"', 'className':'innerInfo', 'url':'https://strm-msknrd.showjet.ru/rc-01/noenc/hd_audio/afd9dd9f-bb23-4ffd-8823-94528b4866c1.ism/.m3u8', 'videoID':'video11' }%}
	</div>
</div>