<div class="popup popup-send-password">
	<form action="" class="popup__form">
		<div class="popup__text">
			Придумайте себе имя
		</div>
		<div class="popup__input-wrap">
			<input class="popup__input" type="text">
		</div>
		<button class="popup__button">
			Завершить регистрацию
		</button>
	</form>
</div>