<div class="popup popup-forgot-password">
	<form action="" class="popup__form">
		<div class="popup__text">
			Введите адрес почты или телефон, указанный при регистрации. 
			Мы вышлем новый пароль
		</div>
		<div class="popup__input-wrap">
			<input class="popup__input" type="text" placeholder="Телефон или Email">
		</div>
		<button class="popup__button">
			Отправить
		</button>
	</form>
</div>