<div class="popup popup-send-password">
	<form action="" class="popup__form">
		<div class="popup__password-success-send">
			<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd" clip-rule="evenodd" d="M11 21C16.5228 21 21 16.5228 21 11C21 5.47715 16.5228 1 11 1C5.47715 1 1 5.47715 1 11C1 16.5228 5.47715 21 11 21Z" stroke="#76FF57"/>
				<path d="M5.80029 9.92432L9.99219 14.2163L16.2876 7.29199" stroke="#76FF57" stroke-width="2"/>
			</svg>
			Пароль отправлен
		</div>
		<button class="popup__button">
			Вернуться к авторизации
		</button>
	</form>
</div>