<div class="meta-info">
	<div class="meta-info__left-wrap">
		<div class="meta-info__item meta-info__item_18">
			<img src="img/18-icon.svg" alt="">
		</div>
		<div class="meta-info__item">
			<img src="img/kinopoisk-icon.svg" alt="" class="meta-info__item-icon meta-info__item-icon_kinopoisk">
			8,8
		</div>
		<div class="meta-info__item">
			<img src="img/imdb-icon.svg" alt="" class="meta-info__item-icon meta-info__item-icon_imdb">
			8,5
		</div>
	</div>
	<div class="meta-info__right-wrap">
		<div class="meta-info__item">
			<img src="img/heart-icon.svg" alt="" class="meta-info__item-icon meta-info__item-icon_like">
		</div>
	</div>
</div>