<div class="single-serial-tile__title" style="background-image: url(img/home-page-banner-title.png);"></div>
<div class="single-serial-tile__text">
	Продолжение скандального сериала "Молодой Папа" с Джудом Лоу и Джоном Малковичем.
</div>
<div class="single-serial-tile__genre">
	Драма
</div>
<div class="single-serial-tile__meta-info">
	{% include 'blocks/common.blocks/tiles/single-serial-tile/meta-info/meta-info.twig'%}
</div>
<div class="single-serial-tile__buttons">
	<a href="#" class="single-serial-tile__button single-serial-tile__button-watch">
		<img src="img/play-icon.svg" alt="" class="single-serial-tile__button-icon">
		<div>Смотреть сериал</div>
	</a>
	<a href="#" class="single-serial-tile__button single-serial-tile__button-about"><div>О сериале</div></a>
</div>