<div class="text-about">
	<div class="text-about__title">
		Информация
	</div>
	<div class="text-about__text-block">
		Яркое, но короткое правление в Ватикане молодого Папы Пия XIII завершилось трагически: он впал в кому. Видимым главой всей Католической церкви становится британский аристократ и богач, урожденный сэр Джон Брэннокс. Взяв себе имя Иоанн Павел III, новый Папа устанавливает новые порядки. После молодого несговорчивого американца он кажется безупречным понтификом. Жаль, что «кажется» – здесь ключевое слово. Под белым одеянием Иоанна Павла III тоже скрываются внутренние демоны. Ему будет непросто заменить своего блистательного предшественника, тем более что кома – еще не конец.
	</div>
	<div class="text-about__title">
		Интересные факты
	</div>
	<div class="text-about__text-block">
		Яркое, но короткое правление в Ватикане молодого Папы Пия XIII завершилось трагически: он впал в кому. 
	</div>
</div>