.text-about{
	width: 984px;
	height: 539px;

	&__title{
		font-family: $stem;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		line-height: 39px;
		color: #FFFFFF;
		margin-bottom: 10px;
	}
	&__text-block{
		font-family: $stem;
		font-style: normal;
		font-weight: normal;
		font-size: 25px;
		line-height: 32px;
		color: #FFFFFF;
		margin-bottom: 20px;
	}
}